.flowplayer
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    width: 100%;
}
.flowplayer *
{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: inherit;
}
.flowplayer a:focus
{
    outline: 0;
}
.flowplayer video
{
    width: 100%;
}
.flowplayer.is-ipad video
{
    webkit-transform: translateX(-2048px);
}
.is-ready.flowplayer.is-ipad video
{
    webkit-transform: translateX(0);
}
.flowplayer .fp-engine,.flowplayer .fp-ui,.flowplayer .fp-message
{
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.flowplayer .fp-message
{
    cursor: default;
    display: none;
    padding-top: 5%;
    text-align: center;
}
.flowplayer .fp-message h2
{
    font-size: 120%;
    margin-bottom: 1em;
}
.flowplayer .fp-message p
{
    color: #666;
    font-size: 95%;
}
.flowplayer .fp-controls
{
    bottom: 0;
    position: absolute;
    width: 100%;
}
.no-background.flowplayer .fp-controls
{
    background-color: transparent !important;
    background-image: -moz-linear-gradient(transparent,transparent) !important;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),to(transparent)) !important;
}
.is-fullscreen.flowplayer .fp-controls
{
    bottom: 3px;
}
.is-mouseover.flowplayer .fp-controls
{
    bottom: 0;
}
.flowplayer .fp-waiting
{
    display: none;
    margin: 19% auto;
    text-align: center;
}
.flowplayer .fp-waiting *
{
    box-shadow: 0 0 5px #333;
    moz-box-shadow: 0 0 5px #333;
    webkit-box-shadow: 0 0 5px #333;
}
.flowplayer .fp-waiting em
{
    animation: pulse .6s infinite;
    background-color: rgba(255,255,255,0.8);
    border-radius: 1em;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    height: 1em;
    margin: .3em;
    moz-animation: pulse .6s infinite;
    moz-border-radius: 1em;
    opacity: 0;
    webkit-animation: pulse .6s infinite;
    webkit-border-radius: 1em;
    width: 1em;
}
.flowplayer .fp-waiting em:nth-child(1)
{
    animation-delay: .3s;
    moz-animation-delay: .3s;
    webkit-animation-delay: .3s;
}
.flowplayer .fp-waiting em:nth-child(2)
{
    animation-delay: .45s;
    moz-animation-delay: .45s;
    webkit-animation-delay: .45s;
}
.flowplayer .fp-waiting em:nth-child(3)
{
    animation-delay: .6s;
    moz-animation-delay: .6s;
    webkit-animation-delay: .6s;
}
.flowplayer .fp-waiting p
{
    color: #ccc;
    font-weight: bold;
}
.flowplayer .fp-speed
{
    background-color: #333;
    background-color: rgba(51,51,51,0.8);
    color: #eee;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    font-size: 30px;
    margin: 0 auto;
    moz-transition: opacity .5s;
    opacity: 0;
    padding: .1em 0 0;
    text-align: center;
    transition: opacity .5s;
    webkit-transition: opacity .5s;
    width: 120px;
}
.flowplayer .fp-speed.fp-hilite
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.flowplayer .fp-help
{
    background-color: #333;
    background-color: rgba(51,51,51,0.9);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    height: 100%;
    left: -9999em;
    moz-transition: opacity .2s;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity .2s;
    webkit-transition: opacity .2s;
    width: 100%;
    z-index: 100;
}
.is-help.flowplayer .fp-help
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    left: 0;
    opacity: 1;
}
.flowplayer .fp-help .fp-help-section
{
    direction: ltr;
    margin: 3%;
}
.flowplayer .fp-help .fp-help-basics
{
    margin-top: 6%;
}
.flowplayer .fp-help p
{
    color: #eee;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    margin: .5em 0;
    margin: 1% 2%;
}
.flowplayer .fp-help em
{
    background: #eee;
    border-radius: .3em;
    color: #333;
    margin-right: .4em;
    moz-border-radius: .3em;
    padding: .3em .6em;
    webkit-border-radius: .3em;
}
.flowplayer .fp-help small
{
    color: #aaa;
    font-size: 90%;
}
.flowplayer .fp-help .fp-close
{
    display: block;
}
@media (max-width: 600px)
{
    .flowplayer .fp-help p
    {
        font-size: 9px;
    }
}
.flowplayer .fp-subtitle
{
    bottom: 40px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    left: -99999em;
    moz-transition: opacity .3s;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: opacity .3s;
    webkit-transition: opacity .3s;
    width: 100%;
    z-index: 10;
}
.flowplayer .fp-subtitle p
{
    background-color: #333;
    background-color: rgba(51,51,51,0.9);
    color: #eee;
    display: inline;
    font-size: 16px;
    line-height: 1.6;
    padding: .1em .4em;
}
.flowplayer .fp-subtitle p:after
{
    clear: both;
    content: '';
}
.flowplayer .fp-subtitle.fp-active
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    left: 0;
    opacity: 1;
}
.flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-mute,.flowplayer .fp-embed,.flowplayer .fp-close,.flowplayer .fp-play
{
    background-image: url(img/white.png);
    background-size: 37px 300px;
}
.is-rtl.flowplayer .fp-fullscreen,.is-rtl.flowplayer .fp-unload,.is-rtl.flowplayer .fp-mute,.is-rtl.flowplayer .fp-embed,.is-rtl.flowplayer .fp-close,.is-rtl.flowplayer .fp-play
{
    background-image: url(img/white_rtl.png);
}
.color-light.flowplayer .fp-fullscreen,.color-light.flowplayer .fp-unload,.color-light.flowplayer .fp-mute,.color-light.flowplayer .fp-embed,.color-light.flowplayer .fp-close,.color-light.flowplayer .fp-play
{
    background-image: url(img/black.png);
}
.is-rtl.color-light.flowplayer .fp-fullscreen,.is-rtl.color-light.flowplayer .fp-unload,.is-rtl.color-light.flowplayer .fp-mute,.is-rtl.color-light.flowplayer .fp-embed,.is-rtl.color-light.flowplayer .fp-close,.is-rtl.color-light.flowplayer .fp-play
{
    background-image: url(img/black_rtl.png);
}
@media (-webkit-min-device-pixel-ratio: 2)
{
    .color-light.flowplayer .fp-fullscreen,.color-light.flowplayer .fp-unload,.color-light.flowplayer .fp-mute,.color-light.flowplayer .fp-embed,.color-light.flowplayer .fp-close,.color-light.flowplayer .fp-play
    {
        background-image: url(img/black@x2.png);
    }
    .is-rtl.color-light.flowplayer .fp-fullscreen,.is-rtl.color-light.flowplayer .fp-unload,.is-rtl.color-light.flowplayer .fp-mute,.is-rtl.color-light.flowplayer .fp-embed,.is-rtl.color-light.flowplayer .fp-close,.is-rtl.color-light.flowplayer .fp-play
    {
        background-image: url(img/black_rtl@x2.png);
    }
}
@media (-webkit-min-device-pixel-ratio: 2)
{
    .flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-mute,.flowplayer .fp-embed,.flowplayer .fp-close,.flowplayer .fp-play
    {
        background-image: url(img/white@x2.png);
    }
    .is-rtl.flowplayer .fp-fullscreen,.is-rtl.flowplayer .fp-unload,.is-rtl.flowplayer .fp-mute,.is-rtl.flowplayer .fp-embed,.is-rtl.flowplayer .fp-close,.is-rtl.flowplayer .fp-play
    {
        background-image: url(img/white_rtl@x2.png);
    }
}
.flowplayer .fp-flash-disabled
{
    background: #333;
    bottom: 0;
    color: #fff;
    margin: 0 auto;
    position: absolute;
    width: 390px;
}
.is-splash.flowplayer .fp-ui,.is-paused.flowplayer .fp-ui
{
    background: url(img/play_white.png) center no-repeat;
    background-size: 12%;
}
.is-rtl.is-splash.flowplayer .fp-ui,.is-rtl.is-paused.flowplayer .fp-ui
{
    background: url(img/play_white_rtl.png) center no-repeat;
    background-size: 12%;
}
@media (-webkit-min-device-pixel-ratio: 2)
{
    .is-splash.flowplayer .fp-ui,.is-paused.flowplayer .fp-ui
    {
        background: url(img/play_white@x2.png) center no-repeat;
        background-size: 12%;
    }
    .is-rtl.is-splash.flowplayer .fp-ui,.is-rtl.is-paused.flowplayer .fp-ui
    {
        background: url(img/play_white_rtl@x2.png) center no-repeat;
        background-size: 12%;
    }
}
.color-light.is-splash.flowplayer .fp-ui,.color-light.is-paused.flowplayer .fp-ui
{
    background-image: url(img/play_black.png);
}
.is-rtl.color-light.is-splash.flowplayer .fp-ui,.is-rtl.color-light.is-paused.flowplayer .fp-ui
{
    background-image: url(img/play_black_rtl.png);
}
@media (-webkit-min-device-pixel-ratio: 2)
{
    .color-light.is-splash.flowplayer .fp-ui,.color-light.is-paused.flowplayer .fp-ui
    {
        background-image: url(img/play_black@x2.png);
    }
    .is-rtl.color-light.is-splash.flowplayer .fp-ui,.is-rtl.color-light.is-paused.flowplayer .fp-ui
    {
        background-image: url(img/play_black_rtl@x2.png);
    }
}
.is-fullscreen.flowplayer .fp-ui
{
    background-size: auto;
}
.is-seeking.flowplayer .fp-ui,.is-loading.flowplayer .fp-ui
{
    background-image: none;
}
.flowplayer .fp-logo
{
    bottom: 30px;
    cursor: pointer;
    display: none;
    left: 15px;
    position: absolute;
    top: auto;
    z-index: 100;
}
.flowplayer .fp-logo img
{
    width: 100%;
}
.is-embedded.flowplayer .fp-logo
{
    display: block;
}
.fixed-controls.flowplayer .fp-logo
{
    bottom: 15px;
}
.flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-close
{
    background-position: 12px -197px;
    cursor: pointer;
    display: block;
    height: 23px;
    left: auto;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
}
.is-rtl.flowplayer .fp-fullscreen,.is-rtl.flowplayer .fp-unload,.is-rtl.flowplayer .fp-close
{
    background-position: 18px -197px;
    left: 5px;
    right: auto;
}
.flowplayer .fp-unload,.flowplayer .fp-close
{
    background-position: 14px -175px;
    display: none;
}
.is-rtl.flowplayer .fp-unload,.is-rtl.flowplayer .fp-close
{
    background-position: 14px -175px;
}
.flowplayer .fp-play
{
    background-position: 9px -24px;
    bottom: 0;
    display: none;
    height: 20px;
    left: 0;
    position: absolute;
    width: 27px;
}
.is-rtl.flowplayer .fp-play
{
    background-position: 18px -24px;
    left: auto;
    right: 0;
}
.play-button.flowplayer .fp-play
{
    display: block;
}
.is-paused.flowplayer .fp-play
{
    background-position: 9px 7px;
}
.is-rtl.is-paused.flowplayer .fp-play
{
    background-position: 18px 7px;
}
.flowplayer.is-ready.is-closeable .fp-unload
{
    display: block;
}
.flowplayer.is-ready.is-closeable .fp-fullscreen
{
    display: none;
}
.flowplayer.is-fullscreen .fp-fullscreen
{
    background-position: 10px -217px;
    display: block !important;
}
.is-rtl.flowplayer.is-fullscreen .fp-fullscreen
{
    background-position: 21px -217px;
}
.flowplayer.is-fullscreen .fp-unload,.flowplayer.is-fullscreen .fp-close
{
    display: none !important;
}
.flowplayer .fp-timeline
{
    height: 10px;
    height: 3px;
    margin: 0 150px 0 45px;
    overflow: hidden;
    position: relative;
    top: 5px;
}
.no-volume.flowplayer .fp-timeline
{
    margin-right: 60px;
}
.no-mute.flowplayer .fp-timeline
{
    margin-right: 140px;
}
.no-mute.no-volume.flowplayer .fp-timeline
{
    margin-right: 45px;
}
.play-button.flowplayer .fp-timeline
{
    margin-left: 67px;
}
.is-rtl.flowplayer .fp-timeline
{
    margin: 0 45px 0 150px;
}
.no-volume.is-rtl.flowplayer .fp-timeline
{
    margin-left: 60px;
}
.no-mute.is-rtl.flowplayer .fp-timeline
{
    margin-left: 140px;
}
.no-mute.no-volume.is-rtl.flowplayer .fp-timeline
{
    margin-left: 45px;
}
.play-button.is-rtl.flowplayer .fp-timeline
{
    margin-right: 67px;
}
.is-long.flowplayer .fp-timeline
{
    margin: 0 180px 0 75px;
}
.no-volume.is-long.flowplayer .fp-timeline
{
    margin-right: 90px;
}
.no-mute.is-long.flowplayer .fp-timeline
{
    margin-right: 75px;
}
.play-button.is-long.flowplayer .fp-timeline
{
    margin-left: 97px;
}
.is-rtl.is-long.flowplayer .fp-timeline
{
    margin: 75px 0 180px 0;
}
.no-volume.is-rtl.is-long.flowplayer .fp-timeline
{
    margin-left: 90px;
}
.no-mute.is-rtl.is-long.flowplayer .fp-timeline
{
    margin-left: 75px;
}
.play-button.is-rtl.is-long.flowplayer .fp-timeline
{
    margin-left: 97px;
}
.aside-time.flowplayer .fp-timeline,.no-time.flowplayer .fp-timeline
{
    margin: 0 110px 0 5px;
}
.aside-time.no-volume.flowplayer .fp-timeline,.no-time.no-volume.flowplayer .fp-timeline
{
    margin-right: 20px;
}
.aside-time.no-mute.flowplayer .fp-timeline,.no-time.no-mute.flowplayer .fp-timeline
{
    margin-right: 5px;
}
.play-button.no-time.flowplayer .fp-timeline,.play-button.aside-time.flowplayer .fp-timeline
{
    margin-left: 27px;
}
.is-rtl.aside-time.flowplayer .fp-timeline,.is-rtl.no-time.flowplayer .fp-timeline
{
    margin: 0 5px 0 110px;
}
.is-rtl.aside-time.no-volume.flowplayer .fp-timeline,.is-rtl.no-time.no-volume.flowplayer .fp-timeline
{
    margin-left: 20px;
}
.is-rtl.aside-time.no-mute.flowplayer .fp-timeline,.is-rtl.no-time.no-mute.flowplayer .fp-timeline
{
    margin-left: 5px;
}
.is-rtl.play-button.no-time.flowplayer .fp-timeline,.is-rtl.play-button.aside-time.flowplayer .fp-timeline
{
    margin-right: 27px;
}
.flowplayer .fp-buffer,.flowplayer .fp-progress
{
    cursor: col-resize;
    height: 100%;
    left: auto;
    position: absolute;
    top: 0;
}
.flowplayer .fp-buffer
{
    moz-transition: width .25s linear;
    transition: width .25s linear;
    webkit-transition: width .25s linear;
}
.flowplayer .fp-timeline.no-animation .fp-buffer
{
    moz-transition: none;
    transition: none;
    webkit-transition: none;
}
.flowplayer.is-touch .fp-timeline
{
    overflow: visible;
}
.flowplayer.is-touch .fp-progress
{
    moz-transition: width .2s linear;
    transition: width .2s linear;
    webkit-transition: width .2s linear;
}
.flowplayer.is-touch .fp-timeline.is-dragging .fp-progress
{
    moz-transition: right .1s linear,border .1s linear,top .1s linear,left .1s linear;
    transition: right .1s linear,border .1s linear,top .1s linear,left .1s linear;
    webkit-transition: right .1s linear,border .1s linear,top .1s linear,left .1s linear;
}
.flowplayer.is-touch.is-mouseover .fp-progress:after,.flowplayer.is-touch.is-mouseover .fp-progress:before
{
    border-radius: 10px;
    content: '';
    display: block;
    moz-border-radius: 10px;
    position: absolute;
    right: -5px;
    webkit-border-radius: 10px;
}
.flowplayer.is-touch.is-rtl.is-mouseover .fp-progress:after,.flowplayer.is-touch.is-rtl.is-mouseover .fp-progress:before
{
    left: -5px;
    right: auto;
}
.flowplayer.is-touch.is-rtl.is-mouseover .fp-progress:after
{
    box-shadow: -1px 0 4px rgba(0,0,0,0.5);
    left: -10px;
    moz-box-shadow: -1px 0 4px rgba(0,0,0,0.5);
    webkit-box-shadow: -1px 0 4px rgba(0,0,0,0.5);
}
.flowplayer.is-touch.is-mouseover .fp-progress:before
{
    height: 10px;
    width: 10px;
}
.flowplayer.is-touch.is-mouseover .fp-progress:after
{
    border: 5px solid rgba(255,255,255,0.65);
    box-shadow: 1px 0 4px rgba(0,0,0,0.5);
    height: 10px;
    moz-box-shadow: 1px 0 4px rgba(0,0,0,0.5);
    right: -10px;
    top: -5px;
    webkit-box-shadow: 1px 0 4px rgba(0,0,0,0.5);
    width: 10px;
}
.flowplayer.is-touch.is-mouseover .fp-timeline.is-dragging .fp-progress:after
{
    border: 10px solid #fff;
    border-radius: 20px;
    moz-border-radius: 20px;
    moz-transition: inherit;
    right: -15px;
    top: -10px;
    transition: inherit;
    webkit-border-radius: 20px;
    webkit-transition: inherit;
}
.flowplayer.is-touch.is-rtl.is-mouseover .fp-timeline.is-dragging .fp-progress:after
{
    border: 10px solid #fff;
    left: -15px;
    right: auto;
}
.flowplayer .fp-volume
{
    position: absolute;
    right: 5px;
    top: 7.5px;
}
.is-rtl.flowplayer .fp-volume
{
    left: 5px;
    right: auto;
}
.flowplayer .fp-mute
{
    background-position: -2px -99px;
    cursor: pointer;
    float: left;
    height: 15px;
    position: relative;
    top: -5px;
    width: 10px;
}
.is-rtl.flowplayer .fp-mute
{
    background-position: -25px -99px;
    float: right;
}
.no-mute.flowplayer .fp-mute
{
    display: none;
}
.flowplayer .fp-volumeslider
{
    cursor: col-resize;
    float: left;
    height: 5px;
    width: 90px;
}
.is-rtl.flowplayer .fp-volumeslider
{
    float: right;
}
.no-volume.flowplayer .fp-volumeslider
{
    display: none;
}
.flowplayer .fp-volumelevel
{
    height: 100%;
}
.flowplayer .fp-time
{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
    width: 100%;
}
.flowplayer .fp-time.is-inverted .fp-duration
{
    display: none;
}
.flowplayer .fp-time.is-inverted .fp-remaining
{
    display: inline;
}
.flowplayer .fp-time em
{
    bottom: 5px;
    height: 10px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    width: 35px;
}
.no-time.flowplayer .fp-time
{
    display: none;
}
.is-long.flowplayer .fp-time em
{
    width: 65px;
}
.flowplayer .fp-elapsed
{
    left: 5px;
}
.play-button.flowplayer .fp-elapsed
{
    left: 27px;
}
.is-rtl.flowplayer .fp-elapsed
{
    left: auto;
    right: 5px;
}
.play-button.is-rtl.flowplayer .fp-elapsed
{
    right: 27px;
}
.flowplayer .fp-remaining,.flowplayer .fp-duration
{
    color: #eee;
    right: 110px;
}
.no-volume.flowplayer .fp-remaining,.no-volume.flowplayer .fp-duration
{
    right: 20px;
}
.no-mute.flowplayer .fp-remaining,.no-mute.flowplayer .fp-duration
{
    right: 100px;
}
.no-mute.no-volume.flowplayer .fp-remaining,.no-mute.no-volume.flowplayer .fp-duration
{
    right: 5px;
}
.is-rtl.flowplayer .fp-remaining,.is-rtl.flowplayer .fp-duration
{
    left: 110px;
    right: auto;
}
.no-volume.is-rtl.flowplayer .fp-remaining,.no-volume.is-rtl.flowplayer .fp-duration
{
    left: 20px;
}
.no-mute.is-rtl.flowplayer .fp-remaining,.no-mute.is-rtl.flowplayer .fp-duration
{
    left: 100px;
}
.no-mute.no-volume.is-rtl.flowplayer .fp-remaining,.no-mute.no-volume.is-rtl.flowplayer .fp-duration
{
    left: 5px;
}
.flowplayer .fp-remaining
{
    display: none;
}
.flowplayer.color-light .fp-time
{
    color: #222;
    text-shadow: 0 0 1px #fff;
}
.flowplayer.color-light .fp-remaining,.flowplayer.color-light .fp-duration
{
    color: #666;
}
.flowplayer.aside-time .fp-time
{
    bottom: auto !important;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 85px;
}
.flowplayer.aside-time .fp-time strong,.flowplayer.aside-time .fp-time em
{
    position: static;
}
.flowplayer.aside-time .fp-time .fp-elapsed
{
    margin-right: 5px;
}
.is-rtl.flowplayer.aside-time .fp-time .fp-elapsed
{
    margin-left: 5px;
    margin-right: auto;
}
.flowplayer.is-long.aside-time .fp-time
{
    width: 130px;
}
.flowplayer.is-splash,.flowplayer.is-poster
{
    cursor: pointer;
}
.flowplayer.is-splash .fp-controls,.flowplayer.is-poster .fp-controls,.flowplayer.is-splash .fp-fullscreen,.flowplayer.is-poster .fp-fullscreen,.flowplayer.is-splash .fp-unload,.flowplayer.is-poster .fp-unload,.flowplayer.is-splash .fp-time,.flowplayer.is-poster .fp-time,.flowplayer.is-splash .fp-embed,.flowplayer.is-poster .fp-embed
{
    display: none !important;
}
.flowplayer.is-poster .fp-engine
{
    top: -9999em;
}
.flowplayer.is-loading .fp-waiting
{
    display: block;
}
.flowplayer.is-loading .fp-controls,.flowplayer.is-loading .fp-time
{
    display: none;
}
.flowplayer.is-loading .fp-ui
{
    background-position: -9999em;
}
.flowplayer.is-loading video.fp-engine
{
    position: absolute;
    top: -9999em;
}
.flowplayer.is-seeking .fp-waiting
{
    display: block;
}
.flowplayer.is-playing
{
    background-color: #333;
    background-image: none !important;
}
.flowplayer.is-playing.hls-fix.is-finished .fp-engine
{
    position: absolute;
    top: -9999em;
}
.flowplayer.is-fullscreen
{
    background-color: #333;
    background-image: none !important;
    border: 0 !important;
    box-shadow: 0 !important;
    height: 100% !important;
    left: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
    moz-box-shadow: 0 !important;
    position: fixed !important;
    top: 0 !important;
    webkit-box-shadow: 0 !important;
    width: 100% !important;
    z-index: 99999 !important;
}
.is-rtl.flowplayer.is-fullscreen
{
    left: auto !important;
    right: 0 !important;
}
.flowplayer.is-error
{
    background: #fdfdfd !important;
    border: 1px solid #909090;
}
.flowplayer.is-error h2
{
    font-size: large;
    font-weight: bold;
    margin-top: 10%;
}
.flowplayer.is-error .fp-message
{
    display: block;
}
.flowplayer.is-error object,.flowplayer.is-error video,.flowplayer.is-error .fp-controls,.flowplayer.is-error .fp-time,.flowplayer.is-error .fp-subtitle
{
    display: none;
}
.flowplayer.is-ready.is-muted .fp-mute
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: .5;
}
.flowplayer.is-mouseout .fp-controls
{
    height: 0;
    moz-transition: height .15s .3s;
    transition: height .15s .3s;
    webkit-transition: height .15s .3s;
}
.flowplayer.is-mouseout .fp-timeline
{
    margin: 0 !important;
}
.flowplayer.is-mouseout .fp-timeline
{
    border-radius: 0;
    height: 4px;
    moz-border-radius: 0;
    moz-transition: height .15s .3s,top .15s .3s,margin .15s .3s;
    top: 0;
    transition: height .15s .3s,top .15s .3s,margin .15s .3s;
    webkit-border-radius: 0;
    webkit-transition: height .15s .3s,top .15s .3s,margin .15s .3s;
}
.flowplayer.is-mouseout .fp-fullscreen,.flowplayer.is-mouseout .fp-unload,.flowplayer.is-mouseout .fp-elapsed,.flowplayer.is-mouseout .fp-remaining,.flowplayer.is-mouseout .fp-duration,.flowplayer.is-mouseout .fp-embed,.flowplayer.is-mouseout .fp-volume,.flowplayer.is-mouseout .fp-play
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    moz-transition: opacity .15s .3s;
    opacity: 0;
    transition: opacity .15s .3s;
    webkit-transition: opacity .15s .3s;
}
.flowplayer.is-mouseover .fp-controls,.flowplayer.fixed-controls .fp-controls
{
    height: 20px;
}
.flowplayer.is-mouseover .fp-fullscreen,.flowplayer.fixed-controls .fp-fullscreen,.flowplayer.is-mouseover .fp-unload,.flowplayer.fixed-controls .fp-unload,.flowplayer.is-mouseover .fp-elapsed,.flowplayer.fixed-controls .fp-elapsed,.flowplayer.is-mouseover .fp-remaining,.flowplayer.fixed-controls .fp-remaining,.flowplayer.is-mouseover .fp-duration,.flowplayer.fixed-controls .fp-duration,.flowplayer.is-mouseover .fp-embed,.flowplayer.fixed-controls .fp-embed,.flowplayer.is-mouseover .fp-logo,.flowplayer.fixed-controls .fp-logo,.flowplayer.is-mouseover .fp-volume,.flowplayer.fixed-controls .fp-volume,.flowplayer.is-mouseover .fp-play,.flowplayer.fixed-controls .fp-play
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.flowplayer.fixed-controls .fp-volume
{
    display: block;
}
.flowplayer.fixed-controls .fp-controls
{
    bottom: -20px;
}
.is-fullscreen.flowplayer.fixed-controls .fp-controls
{
    bottom: 0;
}
.flowplayer.fixed-controls .fp-time em
{
    bottom: -15px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.is-fullscreen.flowplayer.fixed-controls .fp-time em
{
    bottom: 5px;
}
.flowplayer.is-disabled .fp-progress
{
    background-color: #999;
}
.flowplayer.is-flash-disabled
{
    background-color: #333;
}
.flowplayer.is-flash-disabled object.fp-engine
{
    z-index: 100;
}
.flowplayer.is-flash-disabled .fp-flash-disabled
{
    display: block;
    z-index: 101;
}
.flowplayer .fp-embed
{
    background-position: 3px -237px;
    display: block;
    height: 20px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 25px;
}
.is-rtl.flowplayer .fp-embed
{
    background-position: 22px -237px;
    left: auto;
    right: 5px;
}
.flowplayer .fp-embed-code
{
    background-color: #333;
    border-radius: 3px;
    box-shadow: 0 0 3px #ccc;
    display: none;
    font-size: 12px;
    left: 40px;
    moz-border-radius: 3px;
    moz-box-shadow: 0 0 3px #ccc;
    padding: 3px 5px;
    position: absolute;
    top: 10px;
    webkit-border-radius: 3px;
    webkit-box-shadow: 0 0 3px #ccc;
}
.flowplayer .fp-embed-code:before
{
    border: 5px solid transparent;
    border-right-color: #333;
    content: '';
    height: 0;
    left: -10px;
    position: absolute;
    top: 2px;
    width: 0;
}
.is-rtl.flowplayer .fp-embed-code
{
    left: auto;
    right: 40px;
}
.is-rtl.flowplayer .fp-embed-code:before
{
    border-left-color: #333;
    border-right-color: transparent;
    left: auto;
    right: -10px;
}
.flowplayer .fp-embed-code textarea
{
    background-color: transparent;
    border: 0;
    color: #777;
    color: #ccc;
    font-family: monaco,"courier new",verdana;
    height: 16px;
    outline: 0;
    overflow: hidden;
    resize: none;
    white-space: nowrap;
    width: 400px;
}
.flowplayer .fp-embed-code label
{
    color: #999;
    display: block;
}
.flowplayer.is-embedding .fp-embed,.flowplayer.is-embedding .fp-embed-code
{
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.flowplayer.aside-time .fp-embed
{
    left: 85px;
}
.is-rtl.flowplayer.aside-time .fp-embed
{
    left: auto;
    right: 85px;
}
.flowplayer.aside-time .fp-embed-code
{
    left: 115px;
}
.is-rtl.flowplayer.aside-time .fp-embed-code
{
    left: auto;
    right: 115px;
}
.flowplayer.aside-time.is-embedding .fp-time
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.flowplayer.is-long.aside-time .fp-embed
{
    left: 130px;
}
.is-rtl.flowplayer.is-long.aside-time .fp-embed
{
    left: auto;
    right: 130px;
}
.flowplayer.no-time .fp-embed
{
    left: 5px !important;
}
.is-rtl.flowplayer.no-time .fp-embed
{
    left: auto;
    right: 5px !important;
}
.flowplayer.is-live .fp-timeline,.flowplayer.is-live .fp-duration,.flowplayer.is-live .fp-remaining
{
    display: none;
}
.flowplayer .fp-context-menu
{
    background-color: #fff;
    border: 1px solid #aaa;
    box-shadow: 0 0 4px #888;
    display: none;
    moz-box-shadow: 0 0 4px #888;
    padding: 10px;
    position: absolute;
    webkit-box-shadow: 0 0 4px #888;
    width: 170px;
    z-index: 1001;
}
.flowplayer .fp-context-menu li
{
    color: #444;
    margin: 0 -10px 0 -10px;
    padding: 10px;
    text-align: center;
}
.flowplayer .fp-context-menu li a
{
    color: #00a7c8;
    font-size: 110%;
}
.flowplayer .fp-context-menu li:hover:not(.copyright)
{
    background-color: #eee;
}
.flowplayer .fp-context-menu li.copyright
{
    background-image: url("img/flowplayer.png");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: 100px 20px;
    border-bottom: 1px solid #bbb;
    margin: 0;
    padding-left: 110px;
}
@media (-webkit-min-device-pixel-ratio: 2)
{
    .flowplayer .fp-context-menu li.copyright
    {
        background-image: url("img/flowplayer@2x.png");
    }
}
@-moz-keyframes pulse
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-webkit-keyframes pulse
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-o-keyframes pulse
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-ms-keyframes pulse
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes pulse
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.flowplayer .fp-controls
{
    background-color: #333;
    background-color: rgba(51,51,51,0.6);
}
.flowplayer.fixed-controls .fp-controls
{
    background-color: #333;
}
.flowplayer .fp-timeline
{
    background-color: #666;
}
.flowplayer .fp-buffer
{
    background-color: #eee;
}
.flowplayer .fp-progress
{
    background-color: #00a7c8;
}
.flowplayer .fp-volumeslider
{
    background-color: #000;
}
.flowplayer .fp-volumelevel
{
    background-color: #fff;
}
.flowplayer .fp-play
{
    height: 24px;
}
.flowplayer.is-touch.is-mouseover .fp-progress:before
{
    background-color: #00a7c8;
}
.flowplayer.color-light .fp-controls
{
    background-color: rgba(255,255,255,0.6);
}
.flowplayer.color-light.fixed-controls .fp-controls
{
    background-color: #fff;
}
.flowplayer.color-light .fp-volumeslider
{
    background-color: #ddd;
}
.flowplayer.color-light .fp-volumelevel
{
    background-color: #222;
}
.flowplayer.color-alt .fp-progress
{
    background-color: #fff;
}
.flowplayer.color-alt.is-touch.is-mouseover .fp-progress:before
{
    background-color: #fff;
}
.flowplayer.color-alt .fp-buffer
{
    background-color: #999;
}
.flowplayer.color-alt2 .fp-progress
{
    background-color: #900;
}
.flowplayer.color-alt2.is-touch.is-mouseover .fp-progress:before
{
    background-color: #900;
}